<div class="todo-container"> 
  <div class="tabs">
    <h1>TODOS</h1>
  </div>
  <h2>Incomplete</h2>

  <div class="form">
    <%= form_with(model: @task, local: true) do |form| %>
      <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
        <%= form.submit "Create Todo", class: "button" %>
      </div>
    <% end %>
  </div>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.name %>
        <%= link_to "Mark as Complete", complete_task_path(task), method: :get %>
      </li>
    <% end %>
  </ul>

  <%= link_to "View Completed Tasks", completed_tasks_path %>
</div>